[Desktop Entry]
Version=1.1
Type=Application
Name=PROCOME
GenericName=Control Modular Electrónico
Comment=Programa de Control Modular por Electrónica - Sistema de comunicación serial
Exec=/opt/procome/procome
Icon=/opt/procome/procome.png
Terminal=false
Categories=Development;Electronics;Utility;
Keywords=serial;electronics;control;modbus;scada;
StartupNotify=true
StartupWMClass=procome
